#root {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    background-color: #d7d3cb;
    font-size: calc(10px + 2vmin);
    font-weight: 600;
}

.content-container img {
    width: 40vmin;
}