body {
    background-color: #1ABC9C;
    color: #373d3d;
    margin: unset;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #373d3d;
    color: #e0e4e6;
}

header > h1 {
    font-size: 50px;
}

.beer {
    width: 500px;
    margin: 20px;
    padding: 5px 20px;
    border-radius: 10px;
    background-color: #e0e4e6;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.beer:hover {
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 24px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.title {
    margin: unset;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.text {
    margin: unset;
    text-align: center
}